@import '../../../styles.scss';

.main-wrapper {
    background-color: dim($color-dark-mid, 40);
    padding: setPadding(2);
    border-radius: 14px;

    display: flex;

    flex-direction: row;
    gap: setPadding(1);
    max-width: 1700px;

    &.showcase {
        background-color: #0000;
        flex-direction: column;
        justify-content: center;

        align-items: center;

        .description-wrapper {
            align-items: center;
        }

        .cover {
            width: 200px;
            height: 200px;
        }
    }

}

.cover-wrapper {
    .cover {
        width: 160px;
        height: 160px;
        border: none;
        position: relative;
        border-radius: 10px;
        transition: transform .2s;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;



        .shadow {
            $background-color: $color-dark-mid;
            width: 100%;
            height: 100%;
            background: radial-gradient(circle, dim($background-color, 33) 0%, $background-color 65%, $background-color 100%);     
            position: absolute;
        }

        &:hover,
        &:focus {
            cursor: pointer;
            transform: scale(1.07);

            svg {
                transform: scale(1.2);
                opacity: 1;
            }
        }


        img {
            border-radius: 10px;
            display: block;
            position: absolute;
            width: 130%;
            height: 130%;
            filter: blur(3px) brightness(.4);
        }


        svg {
            transform: scale(1.6);
            opacity: .8;
            transition: transform .2s, opacity .2s;

            path {
                fill: $color-light-mid;
            }
        }
    }
}

.description-wrapper {
    display: flex;
    flex-flow: column;
    padding: setPadding(1);
    gap: setPadding(2);

    .header {
        font-size: larger;
        font-weight: bold;
    }

    .styles {
        display: flex;
        flex-wrap: wrap;
        font-size: small;
        gap: setPadding(.5);
        span {
            padding: 1px 8px;
            background-color: dim($color-dark-mid, 99);
            border-radius: 10px;
        }
    }

    .actions-wrapper {
        display: flex;
        gap: setPadding(1);

        button, a {
            margin: 0;
            padding: 0;
            background-color: #0000;
            border: none;
            transition: transform .2s;


            &:hover {
                cursor: pointer;
                transform: scale(1.2);
            }

            svg {
                display: block;

                path {
                    fill: $color-light-mid;
                }
            }

            &.share svg {
                width: 24px;
                height: 24px;
            }

            &.download svg {
                width: 34px;
                height: 34px;
            }
        }
    }
}