@import '../../../styles.scss';

.main-wrapper {
    background-color: dim($opal, 33);
    padding: setPadding(2);
    border-radius: 14px;

    display: flex;

    flex-direction: row;
    gap: setPadding(1);

    &.showcase {
        background-color: #0000;
        flex-direction: column;
        justify-content: center;

        align-items: center;

        .description-wrapper {
            align-items: center;
        }
        .cover {
            width: 200px;
            height: 200px;
        }
    }

}

.cover-wrapper {
    .cover {
        width: 160px;
        height: 160px;
        border: none;
        position: relative;
        border-radius: 10px;
        transition: transform .2s;
        @include shadow($raisin-black);
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $raisin-black;


        .shadow {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            filter: blur(20px);
            opacity: .6;
            background-color: $raisin-black;
            position: absolute;
        }
        &:hover,
        &:focus {
            cursor: pointer;
            transform: scale(1.07);

            svg {
                transform: scale(1.2);
                opacity: 1;
            }
        }


        img {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            filter: blur(3px) brightness(40%) contrast(80%);
            background: radial-gradient(rgba(0,0,0,0), $raisin-black);
        }
    

        svg {
            transform: scale(1.6);
            opacity: .6;
            transition: transform .2s, opacity .2s;

            path {
                fill: $nyanza;
            }
        }
    }
}

.description-wrapper {
    display: flex;
    flex-flow: column;
    padding: setPadding(1);
    gap: setPadding(1);



    .header {
        font-size: larger;
        font-weight: bold;
    }

    .styles {
        display: flex;
        flex-wrap: wrap;
        font-size: small;

        span {
            padding: 1px 8px;
            margin: setPadding(.5);
            background-color: dim($raisin-black, 11);
            border-radius: 10px;
        }
    }

    .actions-wrapper {
        display: flex;
        gap: setPadding(1);

        button {
            margin: 0;
            padding: 4px;
            background-color: #0000;
            border: none;
            transition: transform .2s;


            &:hover {
                cursor: pointer;
                transform: scale(1.2);
            }

            svg {
                display: block;

                path {
                    fill: $raisin-black;
                }
            }

            &.share svg {
                width: 24px;
                height: 24px;
            }

            &.download svg {
                width: 34px;
                height: 34px;
            }
        }
    }
}