@import '../styles.scss';


.main-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    .header-section {
        box-shadow: 0px -19px 32px 15px $color-dark, aa;
        height: 66vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
    
        width: 100%;
        
        
        img {
            user-select: none;
            z-index: 0;
            position: absolute;
            min-width: 120%;
            height: 120%;
            filter: blur(4px) opacity(.3) brightness(.2) ;
        }

        h1 {
            margin: setPadding(1);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 8px;
        }
        svg {
            transition: transform .2s, opacity .2s;
            cursor: pointer;
            &:hover {
                transform: scale(1.3);
                opacity: 1;
            }
            opacity: .5;
            width: 30px;
            height: 39px;
            path {
                fill: dim($color-light, 88);
            }
        }
        .arrow-wrapper {
            display: flex;
            justify-content: center;

            svg {
                width: 42px;
                height: 42px;
                position: absolute;
                animation: wiggle 7s infinite;

                path {
                    fill: dim($color-light, 22);
                }
            }
        }
    }
}


.track-preview-wrapper {
    .flex-container {
        max-width: 1700px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: setPadding(3);
    }
    width: 100%;

    background-color: dim($color-dark-mid, 10);
    padding: setPadding(3);
    display: flex;
    box-sizing: border-box;

    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: setPadding(3);

    app-track-preview {

        width: min(450px, 100%);
    }

}

@keyframes wiggle {
    0% {
        opacity: 0;
    }

    70% {
        transform: translateY(0px);
        opacity: 0;
    }

    90% {
        transform: translateY(150px);

        opacity: 1;
    }

    100% {
        transform: translateY(150px);
        opacity: 0;
    }
}