@import '../styles.scss';


.main-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    .header-section {
        height: 66vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .arrow-wrapper {
            display: flex;
            justify-content: center;
            svg {
                width: 42px;
                height: 42px;
                position: absolute;
                animation: wiggle 10s infinite;
                path {
                    fill: dim($color-dark, 22);
                }
            }
        }
    }
}


.track-preview-wrapper {
    max-width: 1700px;
    padding: setPadding(2);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: setPadding(3);

    app-track-preview {

        width: min(450px, 100%);
    }

}

@keyframes wiggle {
    0% {
        opacity: 0;
    }

    70% {
        transform: translateY(0px);
        opacity: 0;
    }

    90% {
        transform: translateY(150px);

        opacity: 1;
    }

    100% {
        transform: translateY(150px);
        opacity: 0;
    }
}