@import '../styles.scss';


.main-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    .header-section {
        height: 66vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        app-track-preview {
            width: 400px;
        }
    }
}




.track-preview-wrapper {
    padding: setPadding(2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: setPadding(2);
    max-width: 1400px;
    

    app-track-preview {
        width: calc(50% - 8px);
    }

    @include devices(wide) {
        gap: setPadding(3);
        app-track-preview {
            min-width: 300px;
            width: calc(33% - 16px);
        }
    }

}