/* You can add global styles to this file, and also import other style files */

$color-dark: #0c0c0c; // text 
$color-dark-mid: #303030; // preview
$color-light-mid: #8c8c8c;
$color-light: #9c9c9c; // text light



@function setPadding($amount) {
    $atom: 8;
    @return ($amount * $atom) * 1px;
}

@function dim($color, $opacity) {
    @return $color+#{$opacity};
}

@mixin shadow($color) {
    box-shadow: 0px 10px 15px -5px dim(#{$color}, 35);
}

@font-face {
    font-family: 'Titillium';
    src: url('./assets/TitilliumWeb-Light.ttf') format('truetype');
}

@mixin devices ($breakpoint) { //the name of the mixin is devices
  
    @if $breakpoint == wide {    
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
 
  @if $breakpoint == small {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }
}



body {
    margin: 0;
    background-color: $color-dark;
    color: $color-light-mid;
    font-family: 'Titillium';
}
html {
    min-height: 100vh;
    box-sizing: border-box;
}